<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="${status}">404</title>
    <link href="/webjars/materializecss/1.0.0/css/materialize.css"
          media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="../../static/styles/style.css" rel="stylesheet" th:href="@{/styles/style.css}" type="text/css"/>
</head>
<body>
<div class="row">
    <h1 class="indigo-text center" th:text="${error}">Not found</h1>

    <p class="col s12 center" th:text="${message}">
        This page is not available
    </p>
    <a class="col s12 center" th:href="@{/home}" th:text="#{error.link}">Back to home page</a>
</div>
<script src="/webjars/jquery/3.6.0/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
<script th:src="@{/scripts/script.js}" type="text/javascript"></script>
</body>
</html>